body {
  background-color: black;
}
h1 {
  text-align: center;
  color: red;
}
p { 
  color: red;
}
.header-box {
  border: 2px solid red;
  margin-bottom: 10px;
}
.boxed {
  border: 2px solid red;
  float: right;
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
}
p {
  text-align: left;
}
li {
  color: red;
}
.demon-box {
  float: left;
  width: 45%;
}
a {
  cursor: "pointer";
}
